#reservationForm{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:16px;
}

#reservationForm input,
#reservationForm select{

padding:14px;
border:1px solid #ddd;
border-radius:6px;
font-size:14px;
}

#reservationForm button{

background:#111;
color:white;
padding:14px;
border-radius:6px;
font-size:15px;
}

#reservationForm button:hover{
opacity:.9;
}

/* TIME SLOT */

.time-slots{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-top:10px;
}

.time-slot{
padding:10px;
border:1px solid #ddd;
border-radius:6px;
text-align:center;
cursor:pointer;
font-size:13px;
background:white;
}

.time-slot:hover{
background:#111;
color:white;
}

.time-slot.selected{
background:#111;
color:white;
}
